<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


  <title>Index</title>
</head>


	<body>
	
	<div class="container">

			<form action="/add_car" method="post">
				<label>Enter the car information</label><br>
		  		<input type="text" placeholder="enter id" name="ID"></input><br>
		  		<input type="text" placeholder="per day rate" name="ppd"></input><br>
		  		<input type="text" placeholder="fuel efficiency" name="fuel_efficency"></input><br>
		  		<input type="text" placeholder="car brand" name="car_brand"></input><br>
		  		
		  		<input type="submit" value="Add"></input>
			
	</form>
	


	</div>


	



		
	</body>
</html>