<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


  <title>Index</title>
</head>


	<body>
	
	<div class="container">

			<form action="/insert_owner" method="post">
				<label>Enter the user information</label><br>
		  		<input type="text" placeholder="username" name="username"></input><br>
		  		<input type="text" placeholder="password" name="password"></input><br>
		  		<input type="text" placeholder="Name" name="name"></input><br>
		  		<input type="text" placeholder="QID" name="QID"></input><br>
		  		<input type="text" placeholder="Telephone" name="telephone"></input><br>
		  		<input type="text" placeholder="email" name="email"></input><br>
		  		<input type="text" placeholder="address" name="address"></input><br>
		  		
		  		<input type="submit" value="Register"></input>
			
	</form>
	


	</div>


	



		
	</body>
</html>