<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Index</title>
</head>


	<body>
		<form action="/post_user_login" method="post">
		  <input type="text" placeholder="username" name="username"></input>
		  <input type="text" placeholder="password" name="password"></input>
		  		<br/>
			    <input type="radio" id="renter" name="typeuser" value="renter">
				<label for="renter">Renter</label><br>
				<input type="radio" id="owner" name="typeuser" value="owner">
				<label for="owner">Owner</label><br>
				<input type="radio" id="admin" name="typeuser" value="admin">
				<label for="owner">Admin</label><br>
		  <input type="submit" value="Login"></input>
	</form>
	</body>
</html>